@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
:root{
  /* Color styles */
  --white: #FFFFFF;
  --beige: #F8F7F1;
  --accent: #4D40E4;
  --accent-light: #E8EBFC;
  --black: #111111;
  --grey--lightest: #F8F8F8;
  --grey--light: #EFEFEF;
  --grey--default: #BCBCBC;
  --grey--dark: #606060;
  --grey--darkest: #444444;
}
.dot {
  height: 4px;
  width: 4px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.db-card{
  margin: 32px 0;
}
.metadata{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
.chips p{
  background-color: var(--grey--lightest);
  border-radius: 16px;
}
.sort-categories{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav{
  display: flex;
  justify-content: space-between;
  padding: 32px 160px;
}
.nav a{
  display: flex;
  flex-direction: row;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.25rem;
  align-items: stretch;
  color: var(--grey--dark);
}
.nav ul{
  list-style: none;
  display: flex;
  gap: 1rem;
}
.nav .active{
  background-color: var(--accent-light);
}
.nav li:hover{
  background-color: var(--accent-light);
}